@import "tailwindcss";

@theme {
    --font-montserrat: Montserrat;
    --color-berijalan-green: oklch(77.78% 0.1972 138.66);
    --color-soft-black: oklch(28.91% 0 0);
    --color-tosca: oklch(73.3% 0.128 186.98);
    --color-super-soft-gray: oklch(98.81% 0 0);
    --color-soft-cyan: oklch(99.08% 0.0127 190.97);
    --color-soft-blue: oklch(98.85% 0.0054 274.97);
    --color-soft-gray: oklch(73.3% 0.128 186.98);
    --color-soft-cream-yellow: oklch(99.13% 0.0156 139.44);
}

:root {
    font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
